@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  max-width: 40vw;
}

.main p {
  margin: 0;
  padding: 0;
}

.buscaEnd {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.teste {
  padding: 20px;
}
